body{
    margin: 0;
    font-family: 'Alata', sans-serif;
}

/* Começo da estilização dos botões */

#buttons{
    position: relative;
    margin-left: 75%;
    margin-top: 1%;
}

#button1{
    background-color: #bdaa2e;
    color: white;
}

#button2{
    background-color: #1c2424;
    color: white;
}

#button3{
    background-color: #e6272d;
    color: white;
}

#buttonCredit{
    position: relative;
    margin-top: 550px;
    margin-left: 1245px;

    background-color: black;
    color: white;
}

button{
    margin-right: 10px;
    background-color: #eb5757;
    padding: 5px 10px;
    border: none;
    border-radius: 10px;
    box-shadow: 2px 1.5px 0 1px #778899;
    transition: box-shadow 0.09s, transform 0.09s ;
    
    border-color: #778899;

    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 20px;
}

button:active{
    box-shadow: 0 0 0 #778899, inset 3px 3px 3px #778899;
    transform: translate(4px, 4px);
}

/* Fim estilização botões */